@model ICS.Models.AdminMerge.Site_ImagesAdminMerge

@{
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<div id="ImageModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            @using (Html.BeginForm("ImageChange", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
            {

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Şəkil redaktəsi</h4>
                </div>

                <div class="modal-body scrollbar">
                    <div class="content-row">
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group row">
                            <div class="col-md-5">
                                <label>
                                    Şəkil
                                    @Html.ValidationMessageFor(model => model.site_Image.image, "", new { @class = "text-danger" })
                                </label>
                                <input name="file" type="file" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <span class="text-danger">@ViewBag.Message</span> <br /><button type="button" class="btn btn-default" data-dismiss="modal">Ləğv et</button>
                    <button type="submit" class="btn btn-primary">Təsdiqlə</button>
                </div>
            }
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div id="EditModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            @using (Html.BeginForm("Edit", null))
            {
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Redaktə</h4>
                </div>

                <div class="modal-body scrollbar">
                    <div class="content-row">
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group row">
                            <div class="hidden">
                                @Html.HiddenFor(model => model.site_Image.ID)
                            </div>
                            <div class="col-md-5">
                                <label>
                                    Mətn
                                    @Html.ValidationMessageFor(model => model.site_Image.Description, "", new { @class = "text-danger" })
                                </label>
                                @Html.EditorFor(model => model.site_Image.Description, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <span class="text-danger">@ViewBag.Message</span> <br /><button type="button" class="btn btn-default" data-dismiss="modal">Ləğv et</button>
                    <button type="submit" class="btn btn-primary">Təsdiqlə</button>
                </div>
            }
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div id="ViewModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Ətraflı</h4>
            </div>

            <div class="modal-body scrollbar">
                <div class="row content-row">
                    <table class="table table-bordered table-striped table-modal">
                        <tr>
                            <td class="border" width="20%">Mətn</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="border" width="20%">Şəkil</td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Bağla</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<!-- /.modal -->
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            SAYTIN ŞƏKİLLƏRİ
        </h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row content-row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="table" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th class="hidden">ID</th>
                                    <th>Mətn</th>
                                    <th>Şəkil</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.site_Images)
                                {
                                    <tr>
                                        <td class="hidden">@item.ID</td>

                                        <td>@item.Description</td>

                                        <td class="text-center">
                                            <img width="100" height="100" src="~/Content/images/@item.image" />
                                        </td>

                                        <td>
                                            <button type="button" class="grid-buttons btn-edit" title="Redaktə"
                                                    data-toggle="modal" data-target="#EditModal"></button>
                                            <button type="button" class="grid-buttons btn-view" title="Ətraflı"
                                                    data-toggle="modal" data-target="#ViewModal"></button>
                                            <button type="button" class="grid-buttons btn-upload" title="Şəkil yüklə"
                                                    data-toggle="modal" data-target="#ImageModal"></button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th class="hidden">ID</th>
                                    <th>Mətn</th>
                                    <th>Şəkil</th>
                                    <th></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<script>
    $(window).on('load', function () {
        $("#@ViewBag.ShowModal").modal('show');
    });
</script>