@model  IEnumerable<ICS.Models.Order>
@{
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<div id="ViewModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Ətraflı</h4>
            </div>

            <div class="modal-body scrollbar">
                <div class="row content-row">
                    <table class="table table-bordered table-striped table-modal">
                        <tr>
                            <td class="border" width="20%">Şirkətin adı</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="border" width="20%">VÖEN</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="border" width="20%">Email</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="border" width="20%">Əlaqə üçün şəxs</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="border" width="20%">Telefon</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="border" width="20%">Sifarişə əlavə</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="border" width="20%">Seçilən xidmətlər</td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Bağla</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<!-- /.modal -->
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            SİFARİŞLƏR
        </h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row content-row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="table" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th class="hidden">ID</th>
                                    <th>Şirkətin adı</th>
                                    <th>VÖEN</th>
                                    <th>Email</th>
                                    <th>Əlaqə üçün şəxs</th>
                                    <th>Telefon</th>
                                    <th>Sifarişə əlavə</th>
                                    <th>Seçilən xidmətlər</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="hidden">@item.ID</td>

                                        <td>@item.Company_Name</td>

                                        <td>@item.VOEN</td>

                                        <td>@item.Email</td>

                                        <td>@item.Contact_Name</td>

                                        <td>@item.Phone</td>

                                        <td>@item.Additional_Order</td>
                                        <td>
                                            @{int i = 1;}
                                            @foreach (var service in item.Order_Services)
                                            {
                                                @(i + ".") @service.Service.Services_Translate.FirstOrDefault().Title
                                                <br />
                                                i++;
                                            }
                                        </td>
                                        <td>
                                            <button type="button" class="grid-buttons btn-view" title="Ətraflı"
                                                    data-toggle="modal" data-target="#ViewModal"></button>
                                        </td>
                                    </tr>
                                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th class="hidden">ID</th>
                                    <th>Şirkətin adı</th>
                                    <th>VÖEN</th>
                                    <th>Email</th>
                                    <th>Əlaqə üçün şəxs</th>
                                    <th>Telefon</th>
                                    <th>Sifarişə əlavə</th>
                                    <th>Seçilən xidmətlər</th>
                                    <th></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<script>
    $(window).on('load', function () {
        $("#@ViewBag.ShowModal").modal('show');
    });
</script>